*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: yellow;
}

.box{
    width:60%;
    height:70vh;
    background: url("C:/Users/rajeev kumar/OneDrive/Desktop/projects/photo/3.jpg") center/cover fixed no-repeat;
    border:0.5rem solid #fff700;
    border-radius:8px;
    position: relative;
    margin:4rem auto;
    box-shadow:10px 10px 35px rgba(0,0,0,0.6);
}
.btn-left{
    position:absolute;
    top:50%;
    left:0;
    background-color: #3b117e;
    font-size: 1.5rem;
    color:#fff;
    transform:translate(-50%,-50%);
    border:0.2rem solid #3cbff8;
    padding:15px;
}

.btn-right{
    position:absolute;
    top:50%;
    right:0;
    background-color: #3b117e;
    font-size: 1.5rem;
    color:#fff;
    transform:translate(50%,-50%);
    border:0.2rem solid #3cbff8;
    padding:15px;
}